/*FUENTES*/
@font-face{/*Se utiliza para llamara os recursos que se usaran en el proyecto*/
    font-family:"TrebuchetMS" ; /*La familia de la letra que vamos a usar*/
    src:url(fonts/TrebuchetMS.ttf) ;/*Es la direccion de la funte dela letra */
    font-weight: normal ;/*Espesifica el peso de la letra normal es 700*/
    font-style: normal; /*Espesifica el estilo de trabajo*/
}


@font-face{ /*Se utiliza para llamara recursos que se utilizaran en el proyecto*/
    font-family:"BebasNeue";/*nombre de la letra que se usara*/
    src:url(fonts/BebasNeue.otf) ;/*url del sitio web donde se encuentra la otf*/
    font-weight: normal ;/*Espesifica el peso de la letra*/
    font-style: normal;/*espesifica el estilo de trabajo*/
}

@font-face {/*Se utiliza para llamar los recursos que se utilizaran */
    font-family:"WebSymbolsRegular"; /*Nombre del tipo de letra*/
    src: url('fonts/websymbols-regular-webfont.eot');/*url conla extencion eot*/
    src: url('fonts/websymbols-regular-webfont.eot#iefix') format('embedded-opentype'),/*url con las extenciones*/
         url('fonts/websymbols-regular-webfont.woff') format('woff'),/*url con las extenciones woff*/
         url('fonts/websymbols-regular-webfont.ttf') format('truetype'),/*url con las extenciones truetype*/
         url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');/*Url con las extenciones svg*/
    font-weight: normal;/*peso de a letra que se usara entre 100 y 900 normal es = a 700*/
    font-style: normal;/*Espesifica el estilo de trabajo*/
}

/*GENERALES*/
*{/*El asterisco se utiliza para indicar que se aplicarn  estilos en general de la web*/
    margin: 0px; /*indica que la margen de los 4 lados sera de 0px*/
    padding: 0px; /*Indica que el espcio interno sera de 0px en los cuatro lados*/
}

body{/*Se utiliza paea indicar que se aplixarane estilos directa,mee al body de la web*/
    background: url("../img/pattern.png");/*Se utiliza para poner fondos en el elemento, para este caso se trae desde ptra carpeta el fondo deseado*/
}

.wrap{/*Se utiliza para indicar que se aplixaran estilos en la clase wrap */
    width: 1250px;/*Se aplica un ancho de la pagina de 1200px*/
    margin: 0px auto;/*Se aplica un margin de 0px e los cuatro costados de la pagina */
}
.gear, .icon{/*Se utiliza para indicar que se aplicaran estilos a la clase gear*/
    font-family:"WebSymbolsRegular";/*Se aplica una familia se simbolos */
}

.clearfix{
    float: none;
    clear: both;

}

/*CABECERAS*/

#header{/*Se utiliza para indicar que se aplicaran estilos a los elementos del id header*/
    width: 100%;/*Se aplicara un ancho de 100%*/
    height: 70px;/*Se aplicara un alto del 70%*/
    background-color: black; /*Se aplicara un color de fondo */
    font-family: "BebasNeue.otf";/*Se apliacra una familia para el estilo de la letra*/
    color:white/*la letra tendra un color blanco*/
}

#logo{/*Se utiliza para indicar que se aplicara estilosa los elemtos del id logo*/
    float: left;/*El elemento se flotara al lado izquierdo*/
    width: 200px;/*tendra un ancho de maximo 200px*/
    background-color: #37bcf9;/*Se aplicara un fondo de color */
    text-align: center;/*Se indica que que el texto sera centrado*/
    margin-top: 8px;/*Se aplica un espacio interno de 8px en loscuatro costados del elemento*/
    margin-left: 20px;/*Se apliacra un margen de a la izquerda de 20px*/
    letter-spacing: 1px;/*Se utiliza paraponer espacio entre los caracteres de un texto*/
    cursor: pointer;/*cuando e cursor se para sobre el elemento este cambia su forma segun se desee*/
    overflow:hidden;/*Se utiliza para mostrar solo el contenido qie cabe en la caja lo que no cabe no se muestra*/
    transition: all 300ms; /*Se utliza para crear una animacion de 300ms*/


}

#logo .gear{/*Indica que se aplicara estilos a id del logo pero onla clase gear*/
    display: block;/*Se utiliza para indicar que el elemnto se tratara como un blooque y se utilizara todo su ancho y altto*/
    float: left;/*El lemnto se flotara al costado izquierdo*/
    font-size: 30px;/*Permote indicar el tamañode la letra que se utilizara */
    margin-top: 8px;/*Se aplicara una margen superior de 8px*/
    margin-left: 26px;/*Se aplixara una margen  al costado izquierdo de 26px*/

}

#logo h3{/*Se aplicara estilos al id del logo con la etiqueta h3*/
    display: block;/*el elemneto sera tratado como un bloque se utilizara todo su acho y todo su alto*/
    float: right; /*El elemento se flotara al costado izquierdo*/
    font-size: 40px;/*Tendra un tamañp la letra de 40px*/
    margin-top: 5px;/*El margne superior sera de 5px */
    margin-right: 65px;/*El margen al csotado derfecho sera de 65px*/
    transition: all 300ms;/*Se arelisara un animacion de 300ms */
}
/*MENU*/
#menu{/*Se aplicaran estilos a los id del elemnto menu*/
    float: right;/*Se flotara elelemnto al costado izquerdo*/
    height: 70px;/*Tendra un alto de 70px*/
    background: transparent;/*Se aplicara un fondo */
  
}

#menu ul li { /*Se aplicara estilos al id de las etiquetas ul y li*/
    font-size: 21px;/*Se aplixara un tamaño a la letra de 21px*/
    display: inline-block;/*Se utiliza para poner el elemento en linea como se ve en el menu */
    margin: 0px 20px 0px 20px;/*Se aplicara margen en los cuatro castados como las medidas en px como lo indica la istruccion */
    letter-spacing: 1px;/*Se utiliza para poner estacio entre los caracteres de un texto*/
    line-height: 70px;/*Se utiliza para poner el alto entrelines indicando la sparacion del texto */
}

#menu ul li a{/*Se aplicaran estlos a id menu de los elementos ul , li , a */
   display: block;/*Se utilizara tood el ancho y alto del elemento, se maejara como un bloque */
   color:white;/*Se utiliza para indicar el color del elemento*/
   text-decoration: none;/*Se utiliza para quitar losestilos como el subrayado */
   transition: all 200ms;/*Se aplicara un efecto de 200ms */
}

#menu ul li a:hover{/*Se utiliza el pseudo class hover para indicar que se aplicara efectos al id menu con los ementos ul, il al pasar soobrre ellos*/ 
    color: #37bcf9;/*Se alicara este color al pasar sobre ellos*/
    transform: scale(1.2, 1.2);/*se utliza para crear efectos en 2D */
}

/*BANNER*/
#banner{ /*Se utiliza el id del banner para indicar que se plantaran estilos */
    width: 96%; /*Se utilizara un 95% del ancho del elemento*/
    height: 100px; /*tendra una altura de 100px*/
    border: 10px solid white; /*Se definen los bordes de 10px solidos y de tono blanco*/
    box-shadow: 0px 0px 2px gray; /*Se pone un efecto de sombras en el elemento*/
    background: url("../img/bakbaner.png"); /*Se utiliza para llamara la imagen de fondo que se utilizara para este diseño*/
    background-position: -430px -136px; /*permite que se pueda ajustar los valores en x y y para posicionar los estilos del banner*/
    margin: 20px auto; /*permite tomar la margen respecto a los limites d ela pagina */
}

#banner h1{ /*Se utiliza para indicar que se aplicaran estilos al id del banner en la etiqueta h1*/
   display: block;/*Se utiliza para indicar que se manejara el elemnto como un bloque, se utilizara todo el ancho y alto disponible*/
   width: 850px;/*El ancho para este elemnto sera de 850px*/
   font-family: "BabasNeue";/*El estilo de letra sera la seleccionada*/
   color: white;/*El color de la letra sera el seleccionado*/
   font-size: 45px; /*Tendra un tamaño de 45px la letra */
   font-weight: normal;/*Se utiliza para definir el peso de la letra, sea negrita o normal*/
   letter-spacing: 2px;/*Este es el espacio que se da entre un caracter al otro*/
   text-shadow: 2px 2px 1px black; /*Se utiliza para poner estilos de  sombra al texto*/
   margin: 27px auto; /*El elemnto tendra un margen de 27px */

}
/*TARJETAS*/
.card{/*Se utiliza para indicar los estilos que aplicaremops en la clase card*/
    float:left;/*se utiliza para indicar quye se flotara al lado izquierdo*/
    width: 206px;/*definios el porcentaje dle ancho que se dese para elemento*/
    height: 305px;/*Se utiliza para definir el alto que tendra el elemento*/
    border: 1px solid #ccc;/*se utiliza para indicar los bordes del elento y se aplica un tono blanco en sus cuatro costados */
    box-shadow: 1px 1px 2px #ddd;/*Se utiliza para definir el sombreado que tendra el elemento*/
    background: white;/*Se define el color de fondo*/
    overflow:hidden;/*Se utiliza para que no permiete que se salgan los elementos del bloque y se vea desordenado*/
    margin: 21px; /*Se aplicara una ,argen de 16px en los cuatro costados del elemento*/
    margin-top: 40px;/*Se utilizara una margen superior de 40px */
    cursor:pointer;/*Se aplica para cuando el cursor se ponga sobre el elemnto este cambie de puntero aa selector*/

}
.card .icon{ /*Indicamos los estilos que se aplicaran a las clases card y icon*/
    display: block;/*Se manejaran como lementos de caja y se utilizara todo su ancho y alto*/
    width: 100%;/*Se apliacra el el uso del 100% del elemento*/
    height: 130px;/*Tendra una altura el elemto de 130px*/
    font-size: 50px;/*El tamaño de la letra sera de 50px*/
    line-height: 110px;/*Se utiliza para poner el espacio entre lines dentro del elemento a lo lato de la caja     */
    text-align: center; /*indicamos que el texto se centrara*/
    margin: auto;/*El lemnto tendra una margenautomatica en  sus cuatro costados*/
}

.card .category{/*incamos que se aplicaran estilos a las clases card y category*/
    width: 100%;/*El lemnto tendra un acbho del 100%*/
    height: 50px;/*El elemento tendra un alto de 50px*/
    font-family: "TrebuchetMS";/*se define elestilo de letra que se aplicara al elemento*/
    font-size: 21px;/*Se aplicara un tamos a la letra de 21px*/
    font-weight:bold;/*Indicamos que es peso de la letra sera en negrita*/
    text-align: center;/*lo utilizamos para indicar que el texto sera centrado */
    color: #00538c;/*este es el color que se apliocara al elemento*/
}

.card .description{/*Se indica que se aplicara estilos a las calses card y description*/
    font-family: "TrebuchetMS";/*Se indica el tipo de ltetra que aplicara*/
    text-align: center;/*Se centrara el texto*/
    color: hsl(204, 83%, 45%);/*aplicamos un color al elemnto*/
    font-size: 15px;/*el tamaño de la letra sera de 15px*/
}

/* BARRA LATERAL */
#lateral{/*Se aplicaran estilos a la id del elemento lateral*/
    width: 300px;/*Se utilizara in ancho de 300px*/  
    min-height: 1200px;/*Se aplicara unminino de lines en la altura de 1200px*/
    font-family: "TrebuchetMS";/*El estilo de la letra*/
    float: right;/*Se flotara el elemnto a la derecha*/
    margin: 20px;
}
aside h3{ /*Indica ques e aplicaran estilos al elmento aide con espesificaciones en el h3*/
    display: block;/*Se manejara el elemento como un vloque para trabajar en todo el ancho y largo */
    width: auto;/*definimos un ancho automatico*/
    height: 45px;/*indicamos que se trabajra un alto del 45px en el elemnto*/
    line-height: 46px;/*Se utiliza para indicar la altura entre las cajas de bloque*/
    background: url('../img/pxgray.png'), white;/*se utilizara indicar el fondo del elemnto en ste caso una imagen con ruta en la url*/
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;/*Se crea efecto de sombra*/
    font-size: 30px;/*Se define el tamaño de la letra ques e deseas*/
    font-family: "Babasneue";/*Se indica el estilo de eltra que se desea*/
    font-weight: normal;/*indicamos el grosor de ña funte de la letra en normalque es mas o menos 700*/
    letter-spacing: 2px;/*Se utiliza para indicar el espacio enter caracteres*/
    padding-left: 15px;/*indicamos que se se desea un espacio interno al costado izquierdo*/
    margin-top: 30px;/*Se define el espacio donde se ajustara la margen superir*/
    margin-bottom: 15px;/*Se define donde se ajustar la margen  inferior del elemento*/
}   

#lateral h3:first-child{/*Se utiliza el id con seleccion del elemnto h3, pero adicional pseudo-clase first-child que tomara unicamnete elprimer h3 de la lista delos id lateral*/
    margin-top: 0px; /*Se alicara a este elemento una margen superior de 0px*/
}

#search{/*Indicamos que se realizaran estilos a los id de search*/
    width:90% ;/*Utilizaremos un ancho de 90% en en el elemento*/
    height: 30px; /*Un alto de 30px*/
    margin: 10px auto;/*Indica que el elem,nto tiene ua margen de 10px en sus costado superior e inferior y autimatico en la derecha e izquerda */
    background-color: white;/*El color del fond que se aplicara*/
    border: 1px solid #ccc;/*indica que el elemnto tendra un borde de 1px solido y de ese color*/
    border-radius: 5px;/*Indica que las esquinas tendran  bordes redondos de 5px*/
    box-shadow: 1px 1px 4px #ccc inset; /*Se utiliza para poner efecto de sombra al elemento y el inset indica que elefecto se refleja para dentro del elemento */

}

#lateral input[type="text"]{/*indica que se pondran estilos en el id lateral de los input y espesifica que es en type='text'*/
    width: 85%; /*Ocupara un ancho del 85% de todo el elemento*/
    height: 30px;/*teandra una altura */
    border:none;/*Se utiliza com un reset de los bordes para eliminar algunos efecto que se pueden dar por el navegador */
    padding-left: 5px;/*Se aplicara un espacio interno al costado ziquierdo de 5px*/
    border-radius: 5px;/*Tendra las cuatro izquinas de los boprdes redondas*/
    background-color: transparent;/*El color de fondo para este elemento sera trasnpaerente*/
    color:#ccc;/*El color de lo escrito o contenido */
}

#lateral input[type="text"]:focus{/*indica que se aplicara estilos a los type texto de los input del id lateral, focus lo reflejara al clokear el input */
    color:#555;/*Se selecciona le color que tendra*/
    transition: all 500ms; /*se realizara un transicion sube del elemento, para crea un efecto vidual amigable*/
}

#lateral input[type="button"],
#lateral input[type="submit"]{/*indica que se aplicara estilos al id lateral con los hijs input type button y submit*/

    height: 30px; /*Permiete seleccionar el alto del elemento*/
    cursor: wait;/*Se utiliza para poner diseño al cursos para cuando este pase sobre el elemento*/
    font-size: 16px;/*Se utiliza para indicar el tamaño de la letra que se desea*/
    background-color:transparent;/*Se indica el color de fondo que se desea para el elemento*/
    border:none;/*Se utiliza para resetear los bordes que se pueden ver afectados por el navegador */
    border-left: 1px solid #ccc;/*indica que se pondra un borde solido de 1px el costado izquierdo del elemento y tendra un color */
    color: #555;/*Se aplicara esta tonalidad al elemento*/
    padding-left: 6px;/* Indica que el elemnto tedra un espacio interno de 6px al costado izquierdo*/
                           
}

.aside-box{/*Se indica que se aplicara estilos a la clase */
    width: 85%;/*El elemntoto cupara un ancho de 85%*/
    height: 240px;/*Tendra un alto de 240px  */
    margin:  0px auto;/*Se aplicara un margin con esos valores en los cuatro costados*/
    margin-top: 20px;/*Se define un espacio donde se apliacra la margen superior*/
    padding-top: 2px;/*El espacio ineterno superir*/
    background: white;/*El color de fondo sera de  wwhite*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;/*Se aplican efectos con  diferentes valores para que la caja tome el efecto en 3D*/
}

#login input[type="email"],
#login input[type="password"]{/*Indicamos que vamos aplicar estilos a los id de type email y password seleccionados*/
    display: block;/*Se utiliza para indicar que el elemto se tratar como un bloque y se utilizara todo su acho y alto */
    margin: 0px auto;/*Indica que el margen superio es de 0px y el de los lateres se genera automatico*/
    margin-top: 20px;/*Indica que el margen superior tien u espacio de de 20px*/
    width: 82%;/*El ancho del elemnto es el ajusrado en porcentaje*/
    height: 30px;/*El alto dele lemnto sera de 30px*/
    border: 1px solid #ccc;/*Indica que el borde tendra un gris calro en todo su contenido*/
    box-shadow: 1px 1px 1px #ccc inset;/*Indica que elemento tendra un sombreado y la funcion isent que sera incrustrado*/
    border-radius: 5px;/*Indica que tendra un las esquinas redondas en 5px*/
    padding-left: 30px;/*Tendra un espacio interno de 30px al costadio izquierdo*/
    color: gray;/*Color del elemto sera gris*/
}


#login input[type="email"]:focus,/*Se aplicara estilos al id seleccionado con efecto focus*/
#login input[type="password"]:focus{
    color: #555;/*Se indica el color que tendra el efecto*/
    box-shadow: 1px 1px 1px gray inset;/*Se aplicara un sombreado al elemento como efecto*/
}


#login #user,
#login #password{/* Se utiliza para indicar que se aplicaran estilos al id user y password */
    display: block;/*Se utiliza para indicar que el elemento se trabajara como un block se utilizara todo el ancho y alto */
    text-align: center;/*indica que el elemento centrara el texto */
    position: absolute;/*Se utiliza para posicionar el elemnto dentro de otro si desplazarklo queda sobre el */
    margin-left: 15px;/*Se indica que la marge izquerda sera de 15px */
    margin-top: 6px;/*La margen superior tendra un espacio 6px*/
    height: 30px;/*Tendra un alto de 30px*/
}

#login #password{/*Se utiliza para indicar que se aplicaran estilos a los id login y password*/
    margin-left: 18px;/*Se utilizara una margen a la izquerda de 18px*/
    margin-top: 25px;/*indica que la margen superior tendra un espacio de 25px*/
    font-size: 20px;/*Indica que la letra tendra un tamaño de 20px*/
}

#login input[type="submit"],
#login input[type="button"],
#login input[type="reset"],
#login button{ /*Indicamos que pondremos estilos a los id referenciados con respecto a los type que se relacionan*/
    /*display: block;*/
    text-align: center;/*Indica que se pondra el texto en el centro del elemento*/
    width: 100px;/*Tendra un ancho de 100px*/
    height: 35px;/*tendra el elemnto una altura de 35px*/
    margin-top: 20px;/*La margen superior tendra un espacio de 20px */
    color: white;/*Indicamos el color que se desea para el elemento*/
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);/*Se encarga de crear un color de fondo soble el elemto el cual va persentando un adegradacion para crear un efecto viaul muy interesante*/
    border: 1px solid #156785;/*Indica que tendra un borde de 1px con un azul mas oscuro parabrindra efecto de que es un botn */
    border-radius: 0px;/*Se aplica bordes redondos en las 4 esquinas del elemnto pero se deja con 0px*/
    cursor: pointer;/*Se utiliza para quie el pulsor cambie al pasar sobre sobre el elemento */
    font-size:15px;/*Se tramita un tamaño en la letra de 15px*/
    font-family: "TrebechetMS";/*Seaplica el estilo de letrra que se desea */
    font-weight: lighter;/*Indicamos el peso ogrosro que se desea e la letra */
    margin-left: 17px;/*indica que se tiene una margen alcostado ixquierdo de 17px*/
    margin-bottom: 20px;/*la margen inferior tendra un espacio de 20px*/
    transition: all 300ms;/*Se crea un efecto de 300 ms al pasar sobre el efecto */

}

#login input[type="submit"]:hover,
#login input[type="button"]:hover,
#login input[type="reset"]:hover,
#login button:hover{/* Indicamos que se aplicara efecto hover cuando se pare sobre el elemento seleccionado por medio de los id*/
    box-shadow: 0px 0px 3px gray;/* Se utiliza para indicar que se aplicara efectos de color */

}

#login a{/*indica que se aplicara efectos al id selecionado con el lemnto a*/
    display: block;/*Indica que se trabajara como un bloque, permitira trabajar con todo el ancho t alto del elemento*/
    font-size: 14px;/*Se utiliza para indicar que la eltra tendra un tamaño de 14px*/
    text-decoration: none;/*Se eelimina la decoracion para el elemento*/
    margin-left: 18px;/*Se utiliza para indicar que se trabajara un con un espacio en la lamrgen de 18px*/
    color: #555;/*Tendra un color*/

}

#login a:hover{/*Se aplica efecto hover al id login al pasar sobre el elemento*/
    text-decoration: underline;/*decoracion al texto de linea cuando estemos sobre el*/
    color: #2f78bc;/*se aplicara un azul para quye resalta al estas sobre el elemento*/
}

#social{/*indica que se aplicara estilos a al id social*/
    height: 190px; /*tendra bloque un tamaño de 190px*/
}

#social a{/*Indica que se aplicara estilos al id social en el elemnto a*/
    display: block;/*Se manejara como un bloque y se ocuoara todo el ancho y alto del elemento*/
    color: #333;/*Se aplica color al elemento*/
    text-decoration: none;/*Se elimina toda decoracion */
    font-size: 30px;/*Se aplicara un tamaño en la letra de 30px*/
    margin-left: 20px;/*Se aplicara una margen con espacio de 20px al costado izquierdo*/
    margin-top: 10px;/*Se aplica una margen superior de 20px*/
    margin-bottom: 20px;/*Se aplicara una margen inferior  de 20px para este elemento */
}

/*ARTICULOS*/
#articles{/*Se indica que se alicaran estilos generales a al id de articulos*/
    width: 814px;/*Tendra una ancho total de 814px*/
    float: right;/*Se flotara al lado derecho de la pagina*/
    margin: auto;/*tendra un margen automatico en los 4 costados del elemento */
    margin-right: 76px;/*El costado derech se aplicara unmargen de 76px para centtra los articulos dentro de la web*/
    
}

#articles h2{ /*Se aplicaran estilos al id articles y se toma el h2*/
    display: block;/*Indica que se tomara como un bloque se trabajara en todo el ancho y alto del elemento*/
    width: 102.5%;/*Se aplicara un acho de mas de 102%para ajusar el tamaño a lo ancho*/
    height: 75%;/*Tendra un alto de 75% el elemto*/
    line-height: 75px;/*indica el alto que tendra la casilla*/
    text-align: center; /*Sera centrado el elemento*/
    font-family: "BebasNeue";/*Se aplica el estilo de letra seleccioando para este proyecto*/
    font-size: 40px;/*Se aplica estilo de sombreado al alemento*/
    font-weight: normal;/*Tendra un grosor o peso de la letra del elemento*/
    letter-spacing: 2px;/*Indica que tendra el tecto un espacio horizontal entre cada caracter de 2px*/
    background: url('../img/pxgray.png'),white;/*Se aplica un imagen o banner de fondo por url y se aplica color blanco enel fondo*/
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;/*Se crea efecto de sombra*/
    margin: 0px;/*Se aplica margen de 0px*/
    margin-top: 20px;/*Se aplica una margen superior de 0px el exterior del elemento*/
    margin-bottom: 15px;/*Se aplica una margen de 15px al margen inferior al exterior del elemento*/
    
}

#articles article{/*indica que se aplicara estilos a los id de larticles y article*/
    width: 100%;/*Tendra un ancho total del 100%*/
    height: auto;/*Tendra un alto automatico*/
    border: 1px solid #ccc;/*Tendra un borde al costado izquierdo de 1px splido de color gris*/
    margin: 40px auto;/*La marge superior tendra un esxatcio externi de 40px, mientras que las margenes de los lados sera calculada automaticamente */
    padding: 10px;/*Tendra un espacio interno de 10px en los 4 costados del elemento*/
    font-family: "TrebuchetMS";/*Indica el tipo de letra que se aplicara al alemento*/
    background: white;/*El coor de fondo sera blanco*/
    color: black;/*Color de la letra se define como negros*/
    box-shadow: 1px 1px 2px #ddd;/*Se utiliza para aplicar un efecto de sombreado al alemento */

}

#articles article h4{/*Se indica que se aplicara estilos al id articles article h4*/
    display: block;/*Se trabajara como un bloque, se ocupara todo su anch y alto */
    font-size: 23px;/*La letra para este elemnto tendra un tamaño de 23px*/
    margin: 3px;/*Tendra un margen de 3px en los 4 costados del elemento*/

}

#articles article h4 a{/*Se indica que se aplicara estilos al id articles article h4 al link a */
    text-decoration:none;/*Se retita el tex decoration del elemento*/
    color:#00538c/*tendra la letra un coor de como el que se indica en exadecimal*/

}

#articles article h4 a:hover{/*Se indica que se aplicara estilos al id articles article h4 al link a se pondra el efecto hover */
    text-decoration:underline;/*Cuado pase el cursor sobre el elemento este tendra una decoracion  de una linea en el*/

}

#articles .data {/*se indica que se aplicara id en los estilos article con la clase data */
    float:right;/*Se pondra a flotar el el elemnto alcostado izquierdo*/
    background: #393d3f;/*Tendra ese tono exadecimal e¿de fondo*/
    color:white;/*La letra sera blanca */
    height: 30px;/*Tendra un alto de 30px*/
    line-height: 30px;/*Tendra un alto en las casillas de 30px*/
    margin: -10px;/*El margen para los cuatro costados externos del lemnto sera de -10px*/
    padding: 4px;/*Tendra un espacio interno de 4px en cada uno de los cuatro costados*/
    font-size: 13px;/*Se utilizara un tamalño en la letra de 13px*/
    border-radius: 0px 0px 0px 5px;/*Se aplicara el efecto de ezquina redinda pero solo uno tendra valor */

}

#articles .data span{/*Se aplicaran estilos para los id de articles . clases data en span*/
    margin: 6px;/*Tendra un margen de 6px en los cuatro costados externos del elemento*/
}

#articles article p{/*Se utliza para indicar que los id de los articles article de p tendran los siguintes estilos*/
    margin-top: 10px;/*un margen superior externa de 10px*/
    margin-bottom: 10px;/*Una margen inferior externa de 10px*/
    font-size: 15px;/*Un tamaño en la letra de 15px*/

}






















